.offer .offer-header {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    margin: 0 0 35px
}

.offer .offer-header b,
.offer .offer-header strong {
    font-weight: 800
}

.offer .offer-box {
    align-items: center;
    border-radius: 8px;
    display: flex;
    height: 100%;
    min-height: 90px;
    overflow: hidden;
    padding: 21px 50px 21px 25px;
    position: relative;
    transition: background .5s ease-out
}

.offer .offer-box:hover .offer-box-arrow-left {
    right: -100%
}

.offer .offer-box:hover .offer-box-arrow-right {
    right: 18px
}

.offer .offer-box-title {
    word-wrap: break-word;
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    line-height: 28px;
    margin: 0
}

.offer .offer-box-arrow {
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 55px
}

.offer .offer-box-arrow span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: right .2s
}

.offer .offer-box-arrow-left {
    right: 18px
}

.offer .offer-box-arrow-right {
    right: 100%
}

.offer .offer-box-green {
    background: #0bc466
}

.offer .offer-box-green:hover {
    background: #09a355
}

.offer .offer-box-blue {
    background: #287eff
}

.offer .offer-box-blue:hover {
    background: #2169d5
}

.offer .offer-box-orange {
    background: #ffb03a
}

.offer .offer-box-orange:hover {
    background: #e59e34
}

body[dir=rtl] .offer .offer-box {
    padding: 21px 25px 21px 50px
}

body[dir=rtl] .offer .offer-box:hover .offer-box-arrow-left {
    left: -100%;
    right: auto
}

body[dir=rtl] .offer .offer-box:hover .offer-box-arrow-right {
    left: 18px;
    right: auto
}

body[dir=rtl] .offer .offer-box-arrow {
    left: 0;
    right: auto
}

body[dir=rtl] .offer .offer-box-arrow span {
    transition: left .2s
}

body[dir=rtl] .offer .offer-box-arrow span svg {
    transform: rotate(180deg)
}

body[dir=rtl] .offer .offer-box-arrow-left {
    left: 18px;
    right: auto
}

body[dir=rtl] .offer .offer-box-arrow-right {
    left: 100%;
    right: auto
}

@media (max-width:991px) {
    .offer .offer-box-title {
        font-size: 2.35vw;
        line-height: 24px
    }

    .offer .row {
        margin-left: -6px;
        margin-right: -6px
    }

    .offer [class^=col-] {
        padding: 0 6px
    }
}

@media (max-width:767px) {
    .offer .offer-box-title {
        font-size: 18px;
        line-height: 22px
    }

    .offer [class^=col-] {
        margin-bottom: 10px
    }
}

.platforms {
    display: inline-block;
    width: 100%
}

.platforms .platforms-header {
    color: #18181e;
    font-size: 36px;
    font-weight: 800;
    width: 60%
}

.platforms .platforms-nav {
    border-bottom: none;
    display: inline-block;
    margin-top: 40px;
    padding: 0
}

.platforms .platforms-nav li {
    display: inline-block;
    font-weight: 300;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    top: 1px;
    width: 120px
}

.platforms .platforms-nav li:first-child {
    border-right: 2px solid rgba(24, 24, 30, .05);
    padding-left: 0
}

.platforms .platforms-nav li a {
    background-color: transparent;
    border: 0;
    color: #18181e;
    font-size: 20px;
    margin: 0;
    padding: 0
}

.platforms .platforms-nav li a.active {
    color: #0bc466;
    font-weight: 700
}

.platforms .platforms-content {
    font-weight: 300;
    margin-top: 35px;
    min-height: 350px;
    text-align: left
}

.platforms .platforms-content h3 {
    color: #0bc466;
    font-size: 30px;
    margin: 0 0 30px
}

.platforms .platforms-content p {
    color: rgba(24, 24, 30, .6);
    font-size: 18px;
    line-height: 29px;
    margin: 0 30px 50px 0;
    text-align: left
}

.platforms .platforms-content img {
    left: -50px;
    position: absolute;
    top: -200px
}

.platforms .platforms-content ul {
    list-style: none;
    margin: 0 0 25px;
    padding: 0;
    width: 85%
}

.platforms .platforms-content ul li {
    color: #1d3144;
    font-size: 17px;
    font-weight: 300;
    padding: 0 0 15px 35px;
    position: relative;
    width: 100%
}

.platforms .platforms-content ul li:before {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .05);
    content: url(/build/images/check.0906d297.svg);
    height: 28px;
    left: 0;
    line-height: 28px;
    position: absolute;
    text-align: center;
    width: 28px
}

.platforms .platforms-content-single img {
    top: -115px
}

body[dir=rtl] .platforms .platforms-nav li:first-child {
    border-left: 2px solid rgba(24, 24, 30, .05);
    border-right: none;
    padding-left: 20px;
    padding-right: 0
}

body[dir=rtl] .platforms .platforms-content {
    text-align: right
}

body[dir=rtl] .platforms .platforms-content img {
    left: auto;
    right: -50px
}

body[dir=rtl] .platforms .platforms-content ul li {
    padding: 0 35px 15px 0
}

body[dir=rtl] .platforms .platforms-content ul li:before {
    right: 0
}

@media (max-width:767px) {
    .platforms .platforms-header {
        font-size: 27px;
        width: 100%
    }

    .platforms .platforms-content {
        min-height: 0
    }

    .platforms .platforms-content img {
        left: 0;
        margin: 0;
        position: relative;
        top: 0;
        width: 100%
    }

    .platforms .platforms-content-single img {
        top: 0
    }

    body[dir=rtl] .platforms .platforms-content img {
        left: auto;
        right: 0
    }
}

@media (max-width:575px) {
    .platforms .btn {
        width: 100%
    }
}

.about-background {
    height: 510px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 0
}

.about-background img {
    bottom: 0;
    left: 0;
    position: absolute
}

body[dir=rtl] .about-background {
    left: auto;
    right: 50%
}

body[dir=rtl] .about-background img {
    left: auto;
    right: 0;
    transform: scaleX(-1)
}

.about {
    overflow: hidden
}

.about h1 {
    font-size: 36px;
    font-weight: 300;
    margin: 0
}

.about h1 b,
.about h1 strong,
.about h2 {
    font-weight: 700
}

.about h2 {
    font-size: 36px;
    margin: 0
}

.about li,
.about p {
    color: rgba(24, 24, 30, .6);
    font-size: 18px;
    margin: 0
}

.about li b,
.about li strong,
.about p b,
.about p strong {
    color: #18181e;
    font-weight: 700
}

.about .about-header {
    align-items: center;
    display: flex;
    min-height: 340px
}

.about .about-section {
    margin: 140px 0
}

.about .about-prev {
    margin: 0 45px 0 0;
    position: relative
}

.about .about-prev svg {
    transform: rotate(180deg)
}

.about .about-next,
.about .about-prev {
    cursor: pointer
}

.about .about-next svg,
.about .about-prev svg {
    fill: #0bc466
}

.about .about-next.swiper-button-disabled,
.about .about-prev.swiper-button-disabled {
    cursor: default
}

.about .about-next.swiper-button-disabled svg,
.about .about-prev.swiper-button-disabled svg {
    fill: rgba(24, 24, 30, .15)
}

.about .about-assets {
    margin-top: 50px;
    text-align: center
}

.about .about-assets img {
    margin: 0 auto 24px
}

.about .about-assets p {
    margin: 0 auto;
    max-width: 250px
}

.about .about-company h2 {
    margin: 0 0 24px
}

.about .about-company p {
    margin: 0 0 36px
}

.about .about-company img {
    left: 130px;
    position: relative
}

.about .about-values h2 {
    margin: 0 0 24px
}

.about .about-values-box {
    margin: 85px 0 0
}

.about .about-values-box h3 {
    color: #0bc466;
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 18px;
    position: relative
}

.about .about-values-box h3 span {
    bottom: 0;
    color: rgba(24, 24, 30, .04);
    font-size: 72px;
    font-weight: 800;
    left: 0;
    position: absolute;
    z-index: 0
}

.about .about-offer h2:not(.offer-box-title) {
    margin: 0 0 48px;
    text-align: center
}

.about .about-history {
    padding: 0 0 50px
}

.about .about-history .swiper-container {
    overflow: visible;
    padding: 0 15px
}

.about .about-history h2 {
    margin: 0 0 48px;
    text-align: center
}

.about .about-history-slider-navigation {
    position: absolute;
    right: 15px;
    top: 12px
}

.about .about-history-slider-wrapper {
    position: relative
}

.about .about-history-slide {
    background: #fff;
    box-shadow: 0 12px 50px rgba(0, 20, 174, .07);
    margin: 0 30px 0 0;
    padding: 20px 24px;
    position: relative;
    width: 295px
}

.about .about-history-slide:before {
    background: #0bc466;
    border-radius: 100%;
    content: "";
    height: 7px;
    left: 24px;
    position: absolute;
    top: -24px;
    width: 7px
}

.about .about-history-slide:after {
    background: rgba(24, 24, 30, .07);
    border-radius: 100%;
    content: "";
    height: 1px;
    left: 38px;
    position: absolute;
    top: -21px;
    width: 303px
}

.about .about-history-slide:last-child {
    margin: 0
}

.about .about-history-slide:last-child:after {
    display: none
}

.about .about-history-slide h3 {
    color: #0bc466;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 13px
}

.about .about-history-slide p {
    font-size: 16px
}

.about .about-history-slide img {
    display: block;
    margin: 18px auto 0;
    max-width: 100%
}

.about .about-shape-1,
.about .about-shape-2 {
    position: relative;
    z-index: -1
}

.about .about-shape-1 svg,
.about .about-shape-2 svg {
    position: absolute
}

.about .about-shape-1 svg {
    right: -1400px;
    top: -650px
}

.about .about-shape-2 svg {
    left: -200px;
    top: -300px
}

body[dir=rtl] .about .about-background {
    left: auto;
    right: 50%
}

body[dir=rtl] .about .about-values h3 span {
    left: auto;
    right: 0
}

body[dir=rtl] .about .about-company img {
    left: auto;
    right: 130px
}

body[dir=rtl] .about .about-history-slide {
    margin: 0 0 0 30px
}

body[dir=rtl] .about .about-history-slide:before {
    left: auto;
    right: 24px
}

body[dir=rtl] .about .about-history-slide:after {
    left: auto;
    right: 38px
}

body[dir=rtl] .about .about-history-slide:last-child {
    margin: 0
}

body[dir=rtl] .about .about-history-slide:last-child:after {
    background: green
}

body[dir=rtl] .about .about-prev {
    margin: 0 0 0 45px
}

body[dir=rtl] .about .about-prev svg {
    transform: none
}

body[dir=rtl] .about .about-next {
    margin: 0
}

body[dir=rtl] .about .about-next svg {
    transform: rotate(180deg)
}

@media (min-width:768px) {
    .overall-header-bg {
        background: transparent
    }

    body.scrolled .overall-header-bg {
        background: #fff
    }
}

@media (max-width:991px) {
    .about-background {
        display: none
    }

    .about .about-header {
        min-height: 0
    }

    .about .about-company img {
        height: auto;
        left: 0;
        max-width: 140%
    }

    .about .about-history {
        overflow: visible;
        padding: 0
    }

    .about .about-history-slider-navigation {
        display: none !important
    }

    .about .about-history-slider-wrapper {
        display: block;
        height: auto !important;
        margin: 0 -15px;
        max-height: 870px;
        overflow: hidden;
        padding: 0 15px;
        position: relative
    }

    .about .about-history-slider-wrapper.long-content {
        overflow: hidden
    }

    .about .about-history-slider-wrapper.long-content:after {
        background-image: linear-gradient(0deg, #fff 0, hsla(0, 0%, 100%, 0));
        bottom: 0;
        content: "";
        display: block;
        height: 148px;
        left: 0;
        position: absolute;
        width: 100%
    }

    .about .about-history-slider-wrapper.long-content-show {
        max-height: none;
        overflow: visible
    }

    .about .about-history-slider-wrapper.long-content-show:after {
        display: none
    }

    .about .about-history-slide {
        margin: 0 0 18px;
        width: 100% !important
    }

    .about .about-history-slide:after,
    .about .about-history-slide:before {
        display: none
    }

    .about .about-history-more {
        bottom: 0;
        display: none;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 1
    }

    body[dir=rtl] .about .about-history-slide {
        margin: 0 0 18px
    }
}

@media (max-width:767px) {

    .about h1,
    .about h2 {
        font-size: 27px
    }

    .about li,
    .about p {
        font-size: 16px
    }

    .about .about-header {
        padding: 40px 0 0
    }

    .about .about-section {
        margin: 48px 0
    }

    .about .about-assets {
        margin-top: 60px;
        text-align: left
    }

    .about .about-assets img {
        left: 15px;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%)
    }

    .about .about-assets p {
        font-size: 16px;
        margin: 0
    }

    .about .about-assets-box {
        align-items: center;
        display: flex;
        margin: 0 0 24px;
        min-height: 150px;
        padding: 0 15px 0 200px;
        position: relative
    }

    .about .about-assets-box:last-child {
        margin: 0
    }

    .about .about-company h2 {
        margin: 0 0 12px
    }

    .about .about-company p {
        margin: 0 0 28px
    }

    .about .about-company img {
        height: auto;
        margin: 0 -20%;
        position: static;
        width: 140%
    }

    .about .about-values h2 {
        margin: 0 0 12px
    }

    .about .about-values-box {
        margin: 48px 0 0
    }

    .about .about-values-box h3 {
        font-size: 27px;
        margin: 0 0 12px
    }

    .about .about-values-box h3 span {
        font-size: 60px
    }

    .about .about-history h2,
    .about .about-offer h2:not(.offer-box-title) {
        margin: 0 0 24px
    }

    body[dir=rtl] .about .about-assets img {
        left: auto;
        right: 15px
    }

    body[dir=rtl] .about .about-assets-box {
        padding: 0 200px 0 15px
    }
}

@font-face {
    font-family: swiper-icons;
    font-style: normal;
    font-weight: 400;
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff")
}

:root {
    --swiper-theme-color: #007aff
}

.swiper-container {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1
}

.swiper-container-vertical>.swiper-wrapper {
    flex-direction: column
}

.swiper-wrapper {
    box-sizing: content-box;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;
    z-index: 1
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    transform: translateZ(0)
}

.swiper-container-multirow>.swiper-wrapper {
    flex-wrap: wrap
}

.swiper-container-multirow-column>.swiper-wrapper {
    flex-direction: column;
    flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
    margin: 0 auto;
    transition-timing-function: ease-out
}

.swiper-container-pointer-events {
    touch-action: pan-y
}

.swiper-container-pointer-events.swiper-container-vertical {
    touch-action: pan-x
}

.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height
}

.swiper-container-3d {
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-css-mode>.swiper-wrapper {
    -ms-overflow-style: none;
    overflow: auto;
    scrollbar-width: none
}

.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar {
    display: none
}

.swiper-container-css-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: start start
}

.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper {
    scroll-snap-type: x mandatory
}

.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper {
    scroll-snap-type: y mandatory
}

.awards-section {
    margin: 140px 0
}

.awards-section h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 48px;
    text-align: center
}

.awards-prev {
    margin: 0 45px 0 0;
    position: relative
}

.awards-prev svg {
    transform: rotate(180deg)
}

.awards-next,
.awards-prev {
    cursor: pointer
}

.awards-next svg,
.awards-prev svg {
    fill: #0bc466
}

.awards-next.swiper-button-disabled,
.awards-prev.swiper-button-disabled {
    cursor: default
}

.awards-next.swiper-button-disabled svg,
.awards-prev.swiper-button-disabled svg {
    fill: rgba(24, 24, 30, .15)
}

.awards-slider-navigation {
    margin: 60px 0 0
}

.awards-slide {
    flex-shrink: 0;
    padding: 0 15px;
    width: 360px
}

.awards-slide img {
    display: block;
    margin: 0 auto;
    max-width: 100%
}

body[dir=rtl] .awards-prev {
    margin: 0 0 0 45px
}

body[dir=rtl] .awards-prev svg {
    transform: none
}

body[dir=rtl] .awards-next {
    margin: 0
}

body[dir=rtl] .awards-next svg {
    transform: rotate(180deg)
}

@media (max-width:767px) {
    .awards-section {
        margin: 48px 0
    }

    .awards-section h2 {
        margin: 0 0 24px
    }
}